.container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 15px;
}

#info{
    margin-right: -8px;
    padding-left: 10px;
    padding-right: 3px;
    padding-bottom: 200px;
    background-color: lightslategray;
    
}

p{
    line-height: 2;
}

h4{
    margin-top: 50px;
}

path:hover{
    fill: lightseagreen;
}

